@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
    position:relative;  
    min-height:100%;
	font-family: 'Montserrat';
}

body{
    display:flex;
    flex-direction: column;
    text-decoration-color:white;
    background-color: rgb(155, 188, 189);
    text-align: center;
    margin: 0 0 100px;
	font-family: 'Montserrat';
  }

  .div1{
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.281);
    color:white;
    border-radius: 25px;
    overflow-x: auto;
    padding: 20px 20px;

  }
  .heading{
    font-size: 40px;
    padding: 7px 7px;
    color:#ffffff;
    text-align: center;
  }

  input[type=radio] {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  label {
    display: inline-block;
    margin-bottom: 10px;
  }



  

/* buttons */ 

.button {
	display: inline-block;
	background-color: #cc5697;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 10px;
	cursor: pointer;
	border-radius: 25px;
	box-shadow: 0px 0px 10px #888888;
  }
  
  .button:hover {
	background-color: #ff95be;
	color: black;
  }
  
  .button:active {
	background-color: #a74d60;
	box-shadow: 0px 0px 5px #888888;
  }
  
  
