<link rel="stylesheet" href="{{ url_for('static',filename='css/query.css') }}">

<!DOCTYPE html>
<html>
  <head>
    <title>Approve Products</title>
  </head>
  <body>
    <h1>Approve Products</h1>

    <!-- CREATE TABLE farmer_product_approval (
    id SERIAL PRIMARY KEY,

    farmer_id INT NOT NULL,
    product_id INT NOT NULL,
    quantity INT NOT NULL,
    depot_id INT NOT NULL,
  ); -->

    <form action="/inspector/approveproduct" method="POST">
      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Farmer ID</th>
                  <th>Product ID</th>
                  <th>Quantity</th>
                  <th>Depot ID</th>
                  <th>Approved</th>
                  <th>APPROVE</th>
              </tr>
          </thead>
          <tbody>
              {% for row in result %}
              {% if not row['approved'] %}
              <tr>
                  <td>{{ row['id'] }}</td>
                  <td>{{ row['farmer_id'] }}</td>
                  <td>{{ row['product_id'] }}</td>
                  <td>{{ row['quantity'] }}</td>
                  <td>{{ row['depot_id'] }}</td>
                  <td>{{ row['approved'] }}</td>
                  <td><input type="checkbox" name="product_ids" value="{{ row['id'] }}"></td>
              </tr>
              {% endif %}
              {% endfor %}
          </tbody>
      </table>
      <button class="button" type="submit" name="action" value="submit">Submit</button>
  </form>

  <h1>Approve New Product</h1>

  <!-- CREATE TABLE new_product_approval (
    id SERIAL PRIMARY KEY,

    farmer_id INT NOT NULL, 
    name VARCHAR(100) NOT NULL,
    description TEXT,
    rate DECIMAL(10,2) NOT NULL,
    image_link VARCHAR(50),

    quantity INT NOT NULL,
    depot_id INT NOT NULL,
  ); -->

    <form action="/inspector/approveproduct" method="POST">
      <table>
          <thead>
              <tr>
                <th>ID</th>
                <th>Farmer ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rate</th>
                <th>Image Link</th>
                <th>Quantity</th>
                <th>Depot ID</th>
                <th>Approved</th>
                <th>APPROVE</th>
            </tr>
        </thead>
            <tbody>
            {% for row in new_product %}
            {% if not row['approved'] %}
            <tr>
                <td>{{ row['id'] }}</td>
                <td>{{ row['farmer_id'] }}</td>
                <td>{{ row['name'] }}</td>
                <td>{{ row['description'] }}</td>
                <td>{{ row['rate'] }}</td>
                <td>{{ row['image_link'] }}</td>
                <td>{{ row['quantity'] }}</td>
                <td>{{ row['depot_id'] }}</td>
                <td>{{ row['approved'] }}</td>
                  <td><input type="checkbox" name="new_product_ids" value="{{ row['id'] }}"></td>
              </tr>
              {% endif %}
              {% endfor %}
          </tbody>
      </table>
      <button class="button" type="submit" name="action" value="submit">Submit</button>
  </form>
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
      

  </body>
</html>
