<link rel="stylesheet" href="{{ url_for('static',filename='css/query.css') }}">

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<p>Query : {{ query }}</p>


<table>
    <thead>
      <tr>
        {% for key in result[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in result %}
      <tr>
        {% for key, value in row.items() %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

<br>
<br>
<br>

<form class="login-form" method="post">
    <h1>Insert Depot</h1>
   
    <label for="depot">Select a Depot:</label>
    <select name="depot" id="depot">
        {% for d in depots %}
            <option value="{{ d['depot_id'] }}">{{ d['name'] }}</option>
        {% endfor %}
    </select>

    <input class = "button" type="submit" value="Submit">
</form>

</body>
</html>
