<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
    </head>
    <body>
        <h1 class="heading" >Welcome to the FTAK Database</h1>
        <h2>SELECT ROLE</h2>
        <div class="div1">
            <form id="myForm" method="post">
              <label>
                <input type="radio" name="role" value="FARMER">
                FARMER
              </label>
              <label>
                <input type="radio" name="role" value="INSPECTOR">
                INSPECTOR
              </label>
              <label>
                <input type="radio" name="role" value="CUSTOMER">
                CUSTOMER
              </label>
              <br>
              <button type="submit" value="RoleSubmit">Submit</button>
            </form>
              
        </div>

        <ul class='circles'>
            
            {% for i in range(300) %}
                <li></li>
            {% endfor %}
         </ul>

    </body>
</html>