<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1 class="heading" >Welcome to the FTAK Database</h1>
        <h2>SELECT ROLE</h2>
        <div class="div1">
            <form method="POST">
              <button class="button" type="submit" name="role" value="farmer">FARMER</button><br>
              <button class="button" type="submit" name="role" value="inspector">INSPECTOR</button><br>
              <button class="button" type="submit" name="role" value="customer">CUSTOMER</button><br>
            </form>
        </div>

        <div class="bg-images">
            {% for i in range(1, 22) %}
                <img class="bg-image{{i}}" src="{{ url_for('static', filename='floating/' + i|string + '.png') }}" alt="Background Image">
            {% endfor %}
        </div>
        
        
        
    </body>
</html>