<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>



    <h1 class="heading">Login {{role}}</h1>

    
    <form class="login-form" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input class = "button" type="submit" value="Login">
    </form>
    
    {% if role == "farmer" %}
    <form class="signup-form" method="post">
        <div class="signup-container">
            <input class="signup-button" type="submit" name="signup" value="Signup"></input>
        </div>
    </form>
    {% endif %}

</body>
</html>
