<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>



    <h1 class="heading">Login</h1>

    <div class="div1"></div>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    </div>

</body>
</html>
