<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
<!DOCTYPE html>
<html>
<head>
    <title>Customer Signup</title>
</head>
<body>

    <h1 class="heading">Customer Signup</h1>

    <form class="login-form" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="phone_number">Phone Number:</label>
        <input type="tel" id="phone_number" name="phone_number" pattern="[0-9]{10}" required><br>
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" name="user_name" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="Confirmpassword">Confirm Password:</label>
        <input type="password" id="Confirmpassword" name="Confirmpassword" required><br>
        <input class="button" type="submit" value="Sign Up">
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

</body>
</html>
